<div class="d-flex justify-content-center">
  <div class="row w-100">
    <nb-card accent="info" class="produit-card col-sm-2" *ngFor="let produit of produits">
      <nb-card-header class="produit-card-header">{{produit.nom | titlecase}}</nb-card-header>
      <nb-card-body>
        <div class="path">
          <a class="produit-card-categorie" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{produit.categorie}}</a>
          /
          <a class="produit-card-type">{{produit.type}}</a>
        </div>
        {{produit.description | truncate : 100}}
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="success" class="produit-card-button">{{produit.prix}}€
          <nb-icon icon="shopping-cart"></nb-icon>
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
