<div class="d-flex justify-content-between align-items-center">
  <h2>Produits <span class="badge badge-primary">{{nbProduits}}</span></h2>
  <div>
    <nb-form-field class="mb-2">
      <nb-icon nbPrefix icon="search-outline"></nb-icon>
      <input nbInput placeholder="Rechercher un produit" fullWidth [(ngModel)]="search">
    </nb-form-field>
    <nb-select class="mr-2" [(ngModel)]="query.categorie" (selectedChange)="updateProduits()"
               placeholder="Filtrer par catégorie">
      <nb-option [value]="''">Aucun filtre</nb-option>
      <nb-option *ngFor="let categorie of categories" [value]="categorie">{{categorie}}</nb-option>
    </nb-select>
    <nb-select [(ngModel)]="query.sort" (selectedChange)="updateProduits()" placeholder="Trier les résultats">
      <nb-option *ngFor="let sort of sorting" [value]="sort.value">{{sort.display}}</nb-option>
    </nb-select>
    <button nbButton status="primary" class="ml-2 mb-0" size="tiny" (click)="removeFilter()">
      <nb-icon icon="close-outline"></nb-icon>
      Retirer les filtres
    </button>
  </div>
</div>
<ng-container *ngIf="(produits$ | async) as produits else spinner">
  <app-liste-produit [produits]="produits"></app-liste-produit>
</ng-container>

<ng-template #spinner>
  <div class="w-100 d-flex justify-content-center">
    <p class="spinner-border text-center"></p>
  </div>
</ng-template>
