.light-icon {
  font-size: 2rem;
}

.dark-toggle {
  margin-top: 9px;
  margin-left: 5px;
}

.navigation a {
  margin: 0 3rem 0 3rem;
  text-decoration: none;
  transition: color 100ms ease-out;
  font-size: 1.05rem;
}

.navigation a:hover {
  color: #aaa;
}

.active-link {
  font-weight: bold;
}
